<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="mt-4">
        <div class="row">
            <div class="col-sm-6">
                {{#each courses}}
                <div class="card" style="">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.decription}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>
</html> 