<div class="mt-4">
    <form>
        <div class="mb-3">
            <label for="search-input" class="form-label"> từ khóa </label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="nhập từ khóa cần tìm">
        </div>
       
        <button type="submit" class="btn btn-primary">tìm kiếm </button>
</form>
</div>